@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.Main-heading {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 3.125rem;
  display: flex;
  margin-top: 20px;
}

h1 {
  width: 23.8125rem;
  height: 4.0625rem;
}

.card-input-wrapper {
  background-color: #fae295;

  width: 64rem !important;
  height: 30rem !important;
  border-radius: 1rem;
  box-shadow: 3px 6px 13px #000000a3;
}

.todo-title,
.todo-description {
  color: #352923;

  font-family: Poppins;
  font-size: 1.5rem;
  margin: 15px 0px 10px !important;
}

.title-input input {
  border: none;
  width: 61.5rem;
  height: 4rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.56);
}

.edit-input textarea {
  border: none;
  width: 61.5rem;
  height: 11.75rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.56);
  resize: none;
}
.add-button button {
  border: none;
  width: 8.0625rem;
  height: 3.375rem;

  border-radius: 0.5rem;
  background-color: #b99e91bd;
  transition: 0.3s;
  color: #656565;
  text-align: center;
  font-family: Poppins;
  font-size: 1.5rem;
  /* box-shadow: 3px 6px 13px #000000a3; */
  /* box-shadow: 10px 10px 5px lightblue; */
}
.add-button button:active {
  box-shadow: 3px 6px 13px #000000a3;
}
.add-button button:disabled {
  background-color: #fcf2d0;
  color: black;
  pointer-events: none;
}
.add-button button:hover {
  color: black;
  box-shadow: 1px 7px 21px #000000a3;
  /* box-shadow: 3px 6px 13px #000000a3; */
}

.close {
  font-family: Poppins;
  font-size: 2rem;
}

.close button {
  transform: rotate(-48.265deg);
  border: none;
  background-color: transparent;
}

#edit-wrapper {
  display: none;
  margin-top: 9%;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: absolute;
  z-index: 1;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
