@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.Main-heading {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 3.125rem;
  display: flex;
  margin-top: 20px;
}

h1 {
  width: 23.8125rem;
  height: 4.0625rem;
}

.card-input-wrapper {
  background-color: #ffefba;
  border-radius: 8px;

  backdrop-filter: blur(10px);
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.todo-title,
.todo-description {
  color: #352923;

  font-family: Poppins;
  font-size: 1.5rem;
}

.title-input input {
  border: none;
  height: 4rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.56);
}

.title-input textarea {
  border: none;
  height: 11.75rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.56);
  resize: none;
}

.close {
  font-family: Poppins;
  font-size: 2rem;
}

.close button {
  transform: rotate(-48.265deg);
  border: none;
  background-color: transparent;
}

#card-wrapper {
  display: none;
  margin-top: 9%;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: absolute;
  z-index: 1;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
